# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Arithmetic Exam Application/*
!/Arithmetic Exam Application/task/
/Arithmetic Exam Application/task/*
!/Arithmetic Exam Application/task/arithmetic.py
